---
---

@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/spacelab/bootstrap.min.css";

@import "rouge";

body {
  padding-top: 70px; // for the fixed navbar
  margin-bottom: 25%; // to put some space at the bottom of the page
}

.markdown-body {
  $font-size-base:          14px !default;

  h1, .h1 {
    font-size: floor(($font-size-base * 2.15));
  }

  h2, .h2 {
    font-size: floor(($font-size-base * 1.7));
  }

  h3, .h3 {
    font-size: floor(($font-size-base * 1.45));
  }

  h4, .h4 {
    font-size: floor(($font-size-base * 1.25));
  }

  h1, .h1, h2, .h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
  }
}
