<!-- FOUND AT: https://github.com/pages-themes/primer/blob/master/_layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <script src="https://use.fontawesome.com/b304573c6f.js"></script>
    <link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
  </head>
  <body>
    <section>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ "/" | absolute_url }}">cybertooth.io</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://github.com/cybertoothca" target="_blank">
                <i class="fa fa-github"></i>
                GitHub
              </a></li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <section>
      <div class="container markdown-body">
        {{ content }}
      </div>
    </section>
    <script src="{{ "assets/javascript/anchor-js/anchor.min.js" | relative_url }}"></script>
    <script>anchors.add();</script>
  </body>
</html>
